[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
pytest = "*"
black = "==19.10b0"
python-scuttle = "*"

[packages]
edtf = "*"
fuzzywuzzy = "*"
google-api-python-client = "*"
markovify = "*"
numpy = "*"
pandas = "*"
pendulum = "*"
tomlkit = "*"
urllib3 = "*"
munch = "*"
emoji = "*"
distro = "*"
requests = "*"
plop = "*"
PyPika = "*"
python-Levenshtein = "*"
GitPython = "*"
pyaib = {git = "https://github.com/rossjrw/pyaib.git"}
beautifulsoup4 = "*"
toml = "*"
python-scuttle = "0.3.1"
pre-commit = "*"
apscheduler = "*"

[requires]
python_version = "3.8"
